<!doctype html>
<html><head>
    <meta charset="utf-8">
    <title>{% block title %}Zerodine Dashboard{% endblock %}</title>
    <meta http-equiv="refresh" content="60">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Thomas Spycher - Zerodine">
    <!-- stylesheets -->
    {% stylesheets 'css/*' filter="cssrewrite" %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}

    {% stylesheets
        'http://fonts.googleapis.com/css?family=Raleway:400,300'
        'http://fonts.googleapis.com/css?family=Open+Sans'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}

    <!-- end -->


    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <![endif]-->

    <!-- Le fav and touch icons -->
    {% block icons %}
        <link rel="shortcut icon" href="{{ asset('img/logo.png') }}">
    {% endblock %}

    <!-- Google Fonts call. Font Used Open Sans & Raleway -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

    <script type="text/javascript">
        $(document).ready(function () {

            $("#btn-blog-next").click(function () {
                $('#blogCarousel').carousel('next')
            });
            $("#btn-blog-prev").click(function () {
                $('#blogCarousel').carousel('prev')
            });

            $("#btn-client-next").click(function () {
                $('#clientCarousel').carousel('next')
            });
            $("#btn-client-prev").click(function () {
                $('#clientCarousel').carousel('prev')
            });

        });

        $(window).load(function(){

            $('.flexslider').flexslider({
                animation: "slide",
                slideshow: true,
                start: function(slider){
                    $('body').removeClass('loading');
                }
            });
        });

    </script>



</head>
<body>

<div class="container">
    {% block body %}{% endblock %}
</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

{% javascripts
    "js/jquery.js"
    "js/bootstrap.js"
    "js/lineandbars.js"
    "js/dash-charts.js"
    "js/gauge.js"
    "js/noty/jquery.noty.js"
    "js/noty/layouts/top.js"
    "js/noty/layouts/topLeft.js"
    "js/noty/layouts/topRight.js"
    "js/noty/layouts/topCenter.js"
    "js/noty/themes/default.js"
    "js/jquery.flexslider.js"
    "js/admin.js"
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}

</body></html>