parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    xero_consumer_key:      <Your Consumer Key>
    xero_consumer_secret:   <Your Consumer Secret>
    xero_private_key:       "%kernel.root_dir%/config/xero.private.dist"

    # Twitter configuration
    twitter_username:                   zerodine
    twitter_consumer_key:               xxxx
    twitter_consumer_secret:            xxxx
    twitter_oauth_access_token:         xxxx
    twitter_oauth_access_token_secret:  xxxx